#main {
  display: flex;
  min-height: 100vh;
}

#sidebar {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

#coin-tools {
  display: flex;
}

#coin-tools div {
  width: 100%;
}
